th{
	font-weight: 1000;
	background-color: #2695A6;
	color: aqua;
	}
	table{
	border-collapse: collapse;
	font-family: Helvetica, sans-serif;
	padding: 40px;
	font-size: 1.5em;
	border-collapse: collapse;
	background-color: green;
	color: white;
	border-width: 20px;
	border-style: solid;
	border-color: pink;
	}